@plugin '@tailwindcss/forms';

@theme {
  /* Clear ALL defaults for a minimal setup */
  /* --*: initial; */
  /* ---------------------------------- font ---------------------------------- */
  --font-custom: 'JetBrains Mono', monospace;
  /* ---------------------------------- color --------------------------------- */
  --color-*: initial;
  --color-foreground: oklch(0% 0 0);
  --color-background: oklch(100% 0 0);
  /* --------------------------------- spacing -------------------------------- */
  --spacing-*: initial;
  --spacing-0: 0rem;
  --spacing-16: 1.6rem;
  /* ------------------------------- breakpoint ------------------------------- */
  /* 16px */
  --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  /* -------------------------------- container ------------------------------- */
  /* 10px */
  --container-*: initial;
  --container-sm: 100%;
  --container-md: 100%;
  --container-lg: 102.4rem;
  --container-xl: 128rem;
  --container-2xl: 153.6rem;
  --container-fluid: 100%;
  /* ---------------------------------- text ---------------------------------- */
  --text-*: initial;
  --text-16: 1.6rem;
  --text-16--line-height: 1;
  /* ------------------------------- font-weight ------------------------------ */
  --font-weight-*: initial;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  /* -------------------------------- tracking -------------------------------- */
  --tracking-*: initial;
  --tracking-0: 0em;
  /* --------------------------------- leading -------------------------------- */
  --leading-*: initial;
  --leading-1: 1;
  /* --------------------------------- radius --------------------------------- */
  --radius-*: initial;
  --radius-0: 0rem;
  --radius-half: 50%;
  --radius-full: 9999px;
}
